@charset "UTF-8";
/* reset */
*{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  font-size: inherit;
}
b,strong{
  font-weight: normal;
}
i,em{
  font-style: normal;
}
table{
  border-collapse: collapse;
}
hr{
  display: none;
}
